@keyframes coverFromLeft {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .animate-cover {
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: coverFromLeft 2s forwards;
  }